@font-face { 
  font-family: 'Degular_Text-Black';
  src: url('assets/fonts/Degular_Text-Black.woff2') format('woff2'),
       url('assets/fonts/Degular_Text-Black.woff') format('woff');
  }

@font-face {
  font-family: 'Ohno_Fatface-72_Pt_Compressed';
  src: url('assets/fonts/Ohno_Fatface-72_Pt_Compressed.woff2') format('woff2'),
       url('assets/fonts/Ohno_Fatface-72_Pt_Compressed.woff') format('woff');
  }
